<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <!-- Consola -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %c{1} - %m%n" />
        </Console>

        <!-- Archivo -->
        <File name="File" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %c{1} - %m%n" />
        </File>
    </Appenders>

    <Loggers>
        <!-- Logger Raíz -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>
<!--<Configuration status="info">-->
<!--    <Properties>-->
<!--        <Property name="layout">%d [%t] %-5level %logger - %m%n</Property>-->
<!--    </Properties>-->
<!--    <Appenders>-->
<!--    <Console name="Console" target="SYSTEM_OUT">-->
<!--        <PatternLayout pattern="${layout}"/>-->
<!--    </Console>-->
<!--        <File name="LogFile" fileName="app.log">-->
<!--            <PatternLayout>-->
<!--                <Pattern>%d %p %c{1.} {%t} %m%n</Pattern>-->
<!--            </PatternLayout>-->
<!--        </File>-->
<!--    </Appenders>-->
<!--    <Loggers>-->
<!--        <Logger name="UsuariosController">-->
<!--            <AppenderRef ref="LogFile"/>-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Logger>-->
<!--        <Root level="error">-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Root>-->
<!--    </Loggers>-->
<!--</Configuration>-->